{{ ##
  Description: Renders a spot carousel from a list of products
  Params:
    - products: list of products
    - class: the html class for styling
    - title: text to show on top
    - autoplay: enable swiffy autoplay (default: false)
  Usage:
    spot_carousel products: data...products class:"best-sellers" title:"Mais Vendidos"
## }}
{{~ if products && products.size > 0 ~}}
  {{ autoplay_enabled = autoplay ?? false }}
  {{~ 
    # Mapear class para URL do hotsite
    hotsite_url = ""
    if class == "carrossel1"
      hotsite_url = "/liquida-orthometric"
    else if class == "carrossel2"
      hotsite_url = "/o-melhor-do-phs"
    else if class == "carrossel3"
      hotsite_url = "/osmelhoresprecosemdentsplyenamaster"
    else if class == "carrossel4"
      hotsite_url = "/equipamentos"
    else if class == "carrossel5"
      hotsite_url = "/voltaaulasmaster"
    else if class == "carrossele1"
      hotsite_url = "/produtos-que-baixaram-de-preço"
    else if class == "carrossele2"
      hotsite_url = "/queridinhos-odontoverse"
    else if class == "carrossele3"
      hotsite_url = "/manequins-odontoverse"
    else if class == "carrossele4"
      hotsite_url = "/instrumentais-odontoverse"
    else if class == "carrossel-dentistica1"
      hotsite_url = "/mais-vendidos-dentistica-e-estetica"
    else if class == "carrossel-acabamento1"
      hotsite_url = "/mais-vendidos-acabamento-e-polimento"
    else if class == "carrossel-adesivo1"
      hotsite_url = "/mais-vendidos-adesivo"
    else if class == "carrossel-luvas1"
      hotsite_url = "/mais-vendidos-luvas"
    else if class == "carrossel-cimento1"
      hotsite_url = "/mais-vendidos-cimento-resinoso"
    else if class == "carrossel-clareadores1"
      hotsite_url = "/mais-vendidos-clareadores"
    else if class == "carrossel-ortodontia1"
      hotsite_url = "/mais-vendidos-ortodontia"
    else if class == "carrossel-braquetes1"
      hotsite_url = "/mais-vendidos-braquetes"
    else if class == "carrossel-arcos1"
      hotsite_url = "/mais-vendidos-arcos"
    else if class == "carrossel-elasticos1"
      hotsite_url = "/mais-vendidos-elasticos"
    else if class == "carrossel-resinas1"
      hotsite_url = "/mais-vendidos-resinas"
    else if class == "carrossel-resinaseadesivos1"
      hotsite_url = "/mais-vendidos-resinas-e-adesivos"
    else if class == "carrossel-endodontia1"
      hotsite_url = "/mais-vendidos-endodontia"
    else if class == "carrossel-limasendodonticas1"
      hotsite_url = "/mais-vendidos-limas-endodonticas"
    else if class == "carrossel-cimentoendodontico1"
      hotsite_url = "/mais-vendidos-cimento-endodontico"
    else if class == "carrossel-protese1"
      hotsite_url = "/mais-vendidos-protese"
    else if class == "carrossel-cirurgiaeperiodontia1"
      hotsite_url = "/mais-vendidos-cirurgia-e-periodontia"
    else if class == "carrossel-brocascirurgicas1"
      hotsite_url = "/mais-vendidos-brocas-cirurgicas"
    else if class == "carrossel-anestesicoseagulhas1"
      hotsite_url = "/mais-vendidos-anestesico-e-agulhas"
    else if class == "carrossel-descartaveis1"
      hotsite_url = "/mais-vendidos-descartaveis"
    else if class == "carrossel-moldagem1"
      hotsite_url = "/mais-vendidos-moldagem"
    else if class == "carrossel-instrumentais1"
      hotsite_url = "/mais-vendidos-instrumentais"
    else if class == "carrossel-pontasdiamantadas1"
      hotsite_url = "/mais-vendidos-pontas-diamantadas"
    else if class == "carrossel-pontadiamantadaebrocas1"
      hotsite_url = "/mais-vendidos-pontas-diamantadas-e-brocas"
    else if class == "carrossel-profilaxia1"
      hotsite_url = "/mais-vendidos-profilaxia"
    else if class == "carrossel-biosseguranca1"
      hotsite_url = "/mais-vendidos-biosseguranca"
    else
      hotsite_url = "#"
    end
  ~}}
  <div class="my-4 w-full {{class}} bg-mainBg">
      <div class="flex justify-center w-full">
          <div class="items-start w-full max-w-[1330px] px-2 relative">
              <div class="w-full flex items-center justify-start carousel-header-container">
                  <h2 class="text-xl lg:text-3xl carousel-title">
                      <img src="{{- store.urls.static_img}}simbolo.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="" class="carousel-icon" style="display: inline-block !important; visibility: visible !important; opacity: 1 !important; height: 1.5em !important; min-height: 32px !important; max-height: 48px !important; width: auto !important; min-width: 32px !important; flex-shrink: 0 !important; vertical-align: middle !important;">
                      <span>{{ title | string.downcase | lang }}</span>
                  </h2>
                  
                  {{~ # Link "Ver mais produtos" - visível apenas no desktop ~}}
                  <p class="carousel-view-more carousel-view-more-desktop hidden lg:block">
                      <a href="{{ hotsite_url }}" class="carousel-view-more-link">
                          Ver mais produtos
                          <i class="fas fa-arrow-right"></i>
                      </a>
                  </p>
              </div>
          <div class="swiffy-slider slider-nav-dark slider-nav-visible{{ if autoplay_enabled }} slider-nav-autoplay slider-nav-autopause{{ end }} slider-indicators-round 
          slider-indicators-dark slider-indicators-highlight slider-indicators-sm slider-item-show4 slider-item-show2-sm slider-item-snapstart" {{ if autoplay_enabled }}data-slider-nav-autoplay-interval="5000"{{ end }}>
              <div class="slider-container">
                  {{~ for product in products ~}}
                      {{ img_priority = for.index >= 4 ? false : true }}
                      {{ spot product: product img_priority: img_priority img_lazy_load: !img_priority}}
                  {{~ end ~}}
              </div>
              <div class="{{if products.size < 4}} lg:hidden {{end}} {{if products.size <= 2}} hidden {{end}}">
                  <button type="button" class="slider-nav" aria-label="Anterior">
                      <i class="fas fa-chevron-left"></i>
                  </button>
                  <button type="button" class="slider-nav slider-nav-next" aria-label="Próximo">
                      <i class="fas fa-chevron-right"></i>
                  </button>
              </div>
          </div>
          
          {{~ # Link "Ver mais produtos" - abaixo do carrossel no mobile ~}}
          <p class="carousel-view-more carousel-view-more-mobile">
              <a href="{{ hotsite_url }}" class="carousel-view-more-link">
                  Ver mais produtos
                  <i class="fas fa-arrow-right"></i>
              </a>
          </p>
          </div>
      </div>
  </div>
{{~ end ~}}