{{ ##
    Description: Renders the product view
    Params:
        - product: product data
    Usage:
        product_view product: product
## }}
{{~ selected_variant = product.attribute_selections?.selected_variant ~}}
<div id="add-cart-alert"></div>
<div class="flex flex-col relative sm:flex-row w-full">
    <div class="flex mr-5 lg:min-w-[40%]">
        <div class="relative w-full">
            {{~ 
                if selected_variant && selected_variant.images && selected_variant.images.size > 0
                    product_image images: product.attribute_selections.selected_variant.images
                else
                    product_image images: product.images
                end 
            ~}}
            <div class="product-wishlist-wrapper">
                {{~ if product.product_id ~}}
                    {{~ wishlist_button product_id: product.product_id ~}}
                {{~ end ~}}
            </div>
        </div>
    </div>
    <div class="flex flex-col md:min-w-[55%]">
        <div class="mb-4">
            <h1 class="text-2xl font-bold leading-tight product-name">
                {{ product.product_name }}
                <span class="product-brand-wrapper">
                    {{~ if product.product_brand ~}}
                        {{~ product_brand brand: product.product_brand ~}}
                    {{~ end ~}}
                </span>
            </h1>
            {{~ if product.sku ~}}
                <div class="product-sku text-sm text-gray-600 mt-1 mb-2">
                    <span class="font-semibold">SKU:</span> {{ product.sku }}
                </div>
            {{~ end ~}}
            {{~ 
                product_alias = product.alias
                if !product_alias && product.attribute_selections?.selected_variant?.alias
                    product_alias = product.attribute_selections.selected_variant.alias
                end
                if product_alias
            ~}}
                <a href="/{{ product_alias }}" class="product-view-more-link">Ver Mais</a>
            {{~ end ~}}
            {{~ if product.informations ~}}
                <div class="product-spot-info-modal">
                    {{~ product_spot_info informations: product.informations ~}}
                </div>
            {{~ end ~}}
        </div>
        {{~
            promotionsTypes = product.promotions | group.by @(do; ret $0.disclosure_type;end)
            promotionsPagProduto = promotionsTypes | group.get "Página Produto"
            stamps promotions: promotionsPagProduto
            installment_plans = product.prices.installment_plans 
        ~}}
        <div id="product-free-shipping-badge" class="product-badge product-badge--free-shipping" style="display: none;">
            <i class="fa-regular fa-truck-fast"></i> <b>Frete grátis</b> em compras a partir de R$399,90 *. <span class="free-shipping-info-icon"><i class="fa-solid fa-circle-info"></i><span class="free-shipping-tooltip">*Exceto luvas, gessos, alginatos e líquidos</span></span>
        </div>
        <div class="flex">
            {{~ discount_percentage = 0 ~}}
            <div id="product-prices-div" class="flex flex-col w-full">
                {{~ 
                    if selected_variant
                        installment_plans = selected_variant.prices.installment_plans
                        product_price prices: selected_variant.prices
                        discount_percentage = selected_variant.prices.discount_percentage
                        product_wholesale_price prices : selected_variant.prices
                    else
                        product_price prices: product.prices
                        discount_percentage = product.prices.discount_percentage
                    end
                        product_installments installments: installment_plans 
                ~}}
            </div>
        </div>
        <div>
            {{ if product.parallel_options && (product.parallel_options | array.size > 0) }}
                {{ parallel_options product: product }}
            {{ else }}
                {{ product_attribute product: product }}
                {{~ if product.customizations ~}}
                    {{~ product_customizations customizations: product.customizations ~}}
                {{~ end ~}}
            {{ end }}
        </div>
        <div>
            {{~ if selected_variant ~}}
                {{ product_shipping_quotes product_variant_id: selected_variant.product_variant_id }}
            {{~ end ~}}
        </div>
    </div>
</div>