{{ ##
    Description: Renders the product prices and installments 
    Params:
        - prices: product prices
        - displayed_installment: [optional] filter installment options to display from the specified plan.  
                                 Check the display name of the installment plans on Admin. (e.g., "Boleto Yapay")
                                 If not set, the best installment among the available options will be displayed instead
    Usage:
        product_price prices: product.prices displayed_installment: "Boleto Yapay"
## }}
<div class="text-xl mb-2">
    {{ if prices.list_price }}
        {{~ if prices.discount_percentage > 0 ~}}
            <div class="flex items-center gap-2 mb-1 product-price-with-discount">
                <p class="text-base text-gray-500 mb-0"><s>{{ prices.list_price | math.format "c" "pt-BR" }}</s></p>
                <div class="product-badge product-badge--discount product-discount-page">
                    - {{ prices.discount_percentage | math.format "p0" "pt-BR" }}
                </div>
            </div>
        {{~ end ~}}
        <p class="text-2xl font-bold" style="color: #0e167a;"><b>{{ prices.price | math.format "c" "pt-BR" }}</b></p>
    {{ else }}
    <p class="text-2xl font-bold" style="color: #0e167a;">{{ prices.price | math.format "c" "pt-BR" }}</p>
    {{ end }}
</div>
{{~ if displayed_installment ~}}
    {{ product_filtered_installment installment_plans: prices.installment_plans displayed_installment: displayed_installment }}
{{~ end ~}}