<div class="flex flex-col lg:flex-row justify-between items-start gap-4 p-5 bg-gray-50 rounded-lg my-6">
    <div class="flex justify-start items-center">
        <i class="fa-solid fa-truck" style="font-size: 1.25rem; color: #0e167a;"></i>
        <h2 class="text-lg font-semibold ml-2">Calcular frete</h2>
    </div>
    <div class="flex flex-col sm:flex-row justify-start items-center gap-2">
        <form onsubmit='ShippingQuoteSubmit(event, "{{ product_variant_id }}")' class="flex gap-5">
            <input type="text" id="shipping-quote-cep" name="shipping-quote-cep" placeholder="Digite seu CEP aqui" maxlength="9" onkeypress="cepMask(this)" class="px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-transparent text-sm shipping-cep-input">
            <input type="submit" value="OK" class="px-4 py-2 text-white font-semibold rounded-lg cursor-pointer transition-all duration-200 text-sm">
        </form>        
    </div>
    <div id="shipping-quotes-snippet-div-{{ product_variant_id }}" class="w-full mt-4 flex flex-row flex-wrap gap-3"></div>
</div>