{{
    func select_installments(plans) #Function used to filter installment_plans
        contains = false
        if displayed_installment && (plans.display_name | string.downcase | string.contains (displayed_installment | string.downcase))
            contains = true
        end
        ret contains
    end
}}

{{~ if installment_plans ~}}
    <div class="row filtered-installment product-price-installments">
        {{~ if displayed_installment && displayed_installment.size > 0 ~}}
            {{~ 
                filtered_installment_plan = installment_plans | array.filter @select_installments | array.first
                installment = filtered_installment_plan.installments | array.last 
            ~}}

            {{~ if filtered_installment_plan.display_name | string.contains "Boleto" ~}}
                {{~ vitrine_boleto_val = installment.value | math.times 0.95 ~}}
                <p class="product-price-installments__line">{{ vitrine_boleto_val | math.format "c" "pt-BR"}} no boleto</p>
            {{~ else if filtered_installment_plan.display_name | string.contains "Cartão" ~}}
                <p class="product-price-installments__line">ou <b class="product-price-installments__strong">em {{installment.number}}x de {{installment.value | math.format "c" "pt-BR"}} {{if installment.fees}}com juros{{else}}sem juros{{end}}</b> no cartão</p>
            {{~ else if filtered_installment_plan.display_name | string.contains "Pix" ~}}
                {{~ vitrine_pix_val = installment.value | math.times 0.95 ~}}
                <p class="product-price-installments__line">{{ vitrine_pix_val | math.format "c" "pt-BR"}} no PIX</p>
            {{~ end ~}}
        {{~ else ~}}
            <p class="product-price-installments__line">ou <b class="product-price-installments__strong">em {{installment.number}}x de {{installment.value | math.format "c" "pt-BR"}} {{if installment.fees}}com juros{{else}}sem juros{{end}}</b></p>
        {{~ end ~}}
    </div>
{{~ end ~}}
