{{ ##
    Description: Renders the product view
    Params:
        - product: product data
    Usage:
        product_view product: product
## }}
{{~ selected_variant = product.attribute_selections?.selected_variant ~}}
<div id="add-cart-alert"></div>
<div class="flex flex-col relative sm:flex-row justify-start w-full">
    <div class="flex mr-5 lg:min-w-[40%]">
        <div class="relative w-full">
            {{~ 
                if selected_variant && selected_variant.images && selected_variant.images.size > 0
                    product_image images: product.attribute_selections.selected_variant.images
                else
                    product_image images: product.images
                end 
            ~}}
            <div class="product-wishlist-wrapper">
                {{~ if product.product_id ~}}
                    {{~ wishlist_button product_id: product.product_id ~}}
                {{~ end ~}}
            </div>
        </div>
    </div>
    <div class="flex flex-col md:min-w-[55%]">
        <div class="mb-4">
            <h1 class="text-2xl mb-0 product-name">
                <span class="product-name-heading-text">
                    <span class="product-name-title-only">{{ product.product_name }}</span><span class="product-illustrative-info-icon" role="button" tabindex="0" aria-expanded="false" aria-label="Informação sobre a imagem do produto">
                        <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
                        <span class="product-illustrative-tooltip" role="tooltip">*Imagem meramente ilustrativa. As cores podem variar de acordo com o seu monitor.</span>
                    </span>
                </span>
                <span class="product-brand-wrapper">
                    {{~ if product.product_brand ~}}
                        {{~ product_brand brand: product.product_brand ~}}
                    {{~ end ~}}
                </span>
            </h1>
            {{~
                promotionsTypes = product.promotions | group.by @(do; ret $0.disclosure_type;end)
                promotionsPagProduto = promotionsTypes | group.get "Página produto"
                stamps promotions: promotionsPagProduto
            ~}}
            {{~ 
                product_alias = product.alias
                if !product_alias && product.attribute_selections?.selected_variant?.alias
                    product_alias = product.attribute_selections.selected_variant.alias
                end
                if product_alias
            ~}}
                <a href="/{{ product_alias }}" class="product-view-more-link">Ver Mais</a>
            {{~ end ~}}
            {{~ if product.informations ~}}
                <div class="product-spot-info-modal">
                    {{~ product_spot_info informations: product.informations ~}}
                </div>
            {{~ end ~}}
        </div>
        {{~
            installment_plans = product.prices.installment_plans 
        ~}}
        <div class="flex">
            {{~ discount_percentage = 0 ~}}
            <div id="product-prices-div" class="flex flex-col w-full">
                {{~ 
                    if selected_variant
                        installment_plans = selected_variant.prices.installment_plans
                        product_price prices: selected_variant.prices
                        discount_percentage = selected_variant.prices.discount_percentage
                        product_wholesale_price prices : selected_variant.prices
                    else
                        product_price prices: product.prices
                        discount_percentage = product.prices.discount_percentage
                    end
                        product_installments installments: installment_plans 
                ~}}
            </div>
        </div>
        <div>
            {{ buy_box_product_attribute product: product }}
            {{~ if product.customizations ~}}
                {{~ product_customizations customizations: product.customizations ~}}
            {{~ end ~}}
        </div>
        <div>
            {{~ if selected_variant ~}}
                {{ if selected_variant.offers }}
                    <div class="flex flex-col lg:flex-row lg:justify-between w-full">
                        {{ for offer in selected_variant.offers }}
                            {{ buy_box_product_offer offer: offer }}
                        {{ end }}
                    </div>
                {{ end }}
            {{~ end ~}}
        </div>
    </div>
</div>